:root{
  --charcoal: #1F2022);
  --cream: #DADEB4;
  --grass: #d5f28c;
  --purple: #9e3261;
  --whoarple: #9e3296;
  --nurple: #654251;
  --night_sky: #1F363A;

  --main-bg-color: var(--cream);
  --alt-bg-color: var(--night_sky);
  --main-font-color: var(--charcoal);
  --alt-font-color: var(--grass);
  --link-new-color: var(--purple);
  --link-active-color: var(--whoarple);
  --link-visited-color: var(--nurple);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: helvetica, sans-serif;
  font-size: 12pt;
}

h1{
  border-top-left-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 2px;
  background-color: var(--alt-bg-color);
  color: var(--alt-font-color);
  font-size: 300%;
  font-family: Times, serif;
  text-align:center;
}

header{
  padding: 1% 0;
}

.titleheader{
  height: 100px;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
  padding: 2% 0;
}

h2{
  border-radius: 7px;
  background-color: var(--alt-bg-color);
  color: var(--main-bg-color);
  font-family: Times, serif;
  font-size: 200%;
  text-indent: 2%;
}

section{
  padding-top: 5px;
  padding-bottom: 5px;
}

a{
  color: var(--link-new-color);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
    color: var(--link-active-color);
}

a:visited{
    color: var(--link-visited-color);
}

ul li{
  line-height: 150%;
}

td {
  line-height: 135%
}

table{
border-spacing: 25px 5px;
}

thead{
  text-align: left;
}


.body-content{
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}

.no-indent {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}
