/*
• The elements of the page must not be too crowded;
use margin and padding to space things out a little
*/

:root{
  --charcoal: #1F2022);
  --cream: #DADEB4;
  --grass: #d5f28c;
  --purple: #9e3261;
  --whoarple: #9e3296;
  --nurple: #654251;
  --night_sky: #1F363A;

  --copy-bg-color: var(--cream);
  --body-bg-color: var(--night_sky);
  --main-font-color: var(--charcoal);
  --alt-font-color: var(--grass);
  --link-new-color: var(--purple);
  --link-active-color: var(--whoarple);
  --link-visited-color: var(--nurple);
}

body {
  background-color: var(--body-bg-color);
  color: var(--main-font-color);
  font-family: helvetica, sans-serif;
  font-size: 12pt;
}

h1{
  background-color: var(--body-bg-color);
  color: var(--alt-font-color);
  font-size: 300%;
  font-family: Times, serif;
  text-align:center;
}

h2{
  background-color: var(--body-bg-color);
  color: var(--copy-bg-color);
  font-family: Times, serif;
  font-size: 200%;
  text-indent: 2%;
}

a{
  color: var(--link-new-color);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
    color: var(--link-active-color);
}

a:visited{
    color: var(--link-visited-color);
}

thead{
  text-align: left;
}

.body-content{
  background-color: var(--copy-bg-color);
  margin-left: auto;
  margin-right: auto;
  text-indent: 7%;
  width: 100%;
}

.no-indent {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}
